* {
    box-sizing: border-box;
}
body {
    display:flex;
    justify-content:center ;
    align-items: center;
    text-align: center;
    padding: 100px 60px;
    width: 100%;
    height: 100vh;
    background: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    overflow: hidden;
}

p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin: 10px;
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border:  4px solid black;
}

.option {
    display: flex;
    justify-content: left;
    border: 3px solid tomato;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border: 3px solid black;
    border-radius: 5px;
    background-color: tomato;
}

.hidden {
display: none;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}